body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Anton', cursive;
    color: #2e00d6;
}

h2 {
    
    color: #555;
}

.notification {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.notification.fade-out {
    opacity: 0;
    transform: translateY(-20px);
}

button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}